
<!-- ヘッダーの読み込み -->
{{ template "header" .}}
<p>{{ .Message }}</p>

<h4 class="mt-5">Post.</h4>
<form method="post" action="/home">
<input type="hidden" name="form" value="post">
<div class="form-group mt-4">
    <label for="address" class="h6">Youtube share address:</label>
    <input type="text" class="form-control" 
    id="address" name="address" placeholder="https://youtu.be/xxxxx">
</div>
<div class="form-group mt-4">
    <label for="message" class="h6">Message:</label>
    <input type="text" class="form-control" id="message" name="message">
</div>
<button type="submit" class="btn btn-primary mb-2">Post group.</button>
</form>

<h5 class="mt-3">Post list.</h5>
{{range $n,$Itm := .Plist}}
<div class="media border m-1 p-2">
    <a href="/post?pid={{$Itm.Model.ID}}">
        <img class="mr-3" src="https://img.youtube.com/vi/{{$Itm.Address}}/default.jpg" alt="Generic placeholder image">
    </a>
    <div class="media-body">
        <h5 class="mt-0">{{$Itm.Address}}</h5>
        {{$Itm.Message}}
    </div>
</div>
{{end}}

<h4 class="mt-5">Group list.</h4>
<form method="post" action="/home">
<input type="hidden" name="form" value="group">
<div class="form-group mt-4">
    <label for="name2" class="h6">New Group:</label>
    <input type="text" class="form-control" id="name2" name="name">
</div>
<div class="form-group mt-4">
    <label for="message" class="h6">Message:</label>
    <input type="text" class="form-control" id="message" name="message">
</div>
<button type="submit" class="btn btn-primary mb-2">Post group.</button>
</form>

<h5 class="mt-3">Group list.</h5>
{{range $n,$Itm := .Glist}}
<div class="media border m-1 p-2">
    <div class="media-body">
        <a href="/group?gid={{$Itm.ID}}"><h5 class="mt-0">{{$Itm.Name}}</h5></a>
        {{$Itm.Message}}
    </div>
</div>
{{end}}
<!-- フッターの読み込み -->
{{ template "footer" .}}
