
<!-- ヘッダーの読み込み -->
{{ template "header" .}}
<p>{{ .Message }}</p>

<h4 class="mt-4">Post movie.</h4>

<div class="card m-1 p-2 text-center">
    <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{.Post.Address}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
    <div class="card-body">
        <h5 class="mt-0">{{.Post.Message}}</h5>
    </div>
</div>

<form method="post" action="/post?pid={{.Post.ID}}">
    <div class="form-group mt-4">
    <label for="message" class="h6">New Comment:</label>
    <textarea class="form-control" id="message" name="message"></textarea>
</div>
<button type="submit" class="btn btn-primary mb-2">Post comment.</button>
</form>
<h4 class="mt-4">Comments.</h4>
{{range $n,$Itm := .Clist}}
<div class="media border m-1 p-2">
    <div class="media-body">
        <h6 class="mt-0">{{$Itm.Comment.Message}} ({{$Itm.Name}})</h6>
    </div>
</div>
{{end}}

<!-- フッターの読み込み -->
{{ template "footer" .}}

